.menu-box {
  border: 1px solid #FFD200;
  margin: 10px;
  padding: 10px;
}
.menu-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-box ul.menu-list li {
  display: block;
  margin-bottom: 5px;
  border: 1px solid #eee;
  background: #fff;
}
.menu-box ul.menu-list > li a {
  background: #fff;
  display: block;
  font-size: 14px;
  font-family: arial;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  padding: 10px;
}

.menu-box ul.menu-list > li a:hover {
  color: #FFD12B;
  cursor: move;
}
.menu-box ul.menu-list ul {
  margin-left: 20px;
  margin-top: 5px;
}
.menu-box ul.menu-list ul li a:hover {
  color: #FFD12B;
}
.menu-box li.menu-highlight {
  border: 1px dashed blue !important;
  background: #f5f5f5;
}

.col-xs-9{
	color: #0070A6;
  font-family: verdana;
  font-style: normal;
}

.col-xs-3 button{
  font-size: 15px;
}